div {
  height: 100px;
  width: 200px;
  margin: auto;
  border: solid 2px black;
  overflow: auto;
  background-color: #ccc;
}
div > ul {
  padding: 0px;
  margin-top: 5px;
}
ul {
  list-style-type: none;
}
ul ul {
  display: none;
}