form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 500px;
  background-color: #d2d2d2;
}
caption {
  font-weight: bold;
  background-color: darkgreen;
  width: 500px;
  color: white;
  margin: auto;
}
textarea {
  height: 200px;
  width: 480px;
  margin: 10px;
}
td {
  font-size: 15px;
}
p {
  font-size: 12px;
}
.p2 {
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
}
.button {
  text-align: center;
  padding-bottom: 20px;
}
span {
  font-size: 15px;
}